@import 'px-data-grid-shared';

:host {
  display: block;
  width: 100%;
  white-space: nowrap;
}

.labeled-wrapper{
  display: flex;
  align-items: baseline;
  -ms-flex-align: start; //for IE 11
}

.labeled-text {
  display: inline-block;
  min-width: 33%;
  flex-grow: 1;
  box-sizing: border-box;
  margin-bottom: $inuit-base-spacing-unit--large;
  padding-right: $inuit-base-spacing-unit--small;
}

.labeled-text[extended] {
  width: 66%;
  margin-bottom: $inuit-base-spacing-unit--tiny;
}

.labeled-text.own-row{
  display: block;
}

px-rangepicker {
  --px-datetime-range-field-display: flex;
  --px-datetime-field-margin-bottom: $inuit-base-spacing-unit;
  --px-datetime-range-field-margin-between-fields-overwrite: $inuit-base-spacing-unit--small;
}
